// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// color palette
$lagoon: #02BAF2;
$overboard: #009DCD;
$treasure-island: #31D979;
$dark-island: #27B263;
$angelic-green: #81E0AA;
$strawberry: #F84545;
$first-blood: #CC0000;
$edward-teach: #FB8F8F;

$black-flag: #162529;
$coral: #D6E1E5;
$white: #fff;


/// Regular font family
/// @type List
$text-font-stack: 'Source Sans Pro', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Shadow offset to create 3D effect in buttons
$shadow-offset: 0 6px;

/// Copy text color
/// @type Color
$text-color: $black-flag !default;

/// Main brand color
/// @type Color
$brand-color: $lagoon !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;





/// Container's maximum width
/// @type Length
$max-width: 1160px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
