// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
  background-color: transparent; // temporarily
  &.btn-speaker {
    
  }
  
  &.btn-action {
    
  }
  
  &.btn-answer {
    border: 2px solid $coral;
    border-radius: 10px;
    width: 201px;
    height: 51px;
  }
}