// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
  background-color: transparent; // temporarily
  cursor: pointer;
  &.btn-speaker {
    background-color: $lagoon;
    box-shadow: $shadow-offset $overboard; // 3D button effect
    border-radius: 10px;
    width: 198px;
    height: 198px;
  }
  
  &.btn-action {
    
  }
  
  &.btn-answer {
    border: 2px solid $coral;
    border-radius: 10px;
    width: 180px;
    height: 45px;
  }
}