// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the interval trainer module
// -----------------------------------------------------------------------------
.footer {
  border-top: 2px solid #D6E1E5;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100vw;
  height: 20vh;
  &.correct, &.incorrect {
    border: none;
  }

  &.correct {
    background-color: $angelic-green;
  }
  &.incorrect {
    background-color: $edward-teach;
  }

  .container {
    display: flex;
    align-items: center; // vertically center
    justify-content: space-between; // float the gear to the left and the action button to the right
    height: 100%;
  }
}